<!--@{
    ViewData["Title"] = "O nama";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>-->

<img src="~/images/4g.png" alt="4G" width="200" height="200" align="middle">
<p>
    <font size="4">
        Kod nas možete pronaći sve što je potrebno za Vaš smartphone
        Nudimo Vam maske za mobilne telefone, PVC zaštitu za ekran, opremu za tablet, data i druge kablove, Micro SD...

        Pozivamo Vas da dođete i pogledate širok asortiman proizvoda u nekoj od naših prodavnica u Novom Sadu, Zrenjaninu, Subotici i Beogradu.
    </font>

</p>