@model Oprema_za_mob_telefone.Models.HomeViewModels.ProizvodViewModel[]
@{
    ViewData["Title"] = "4G Prodavnica";
}

<div class="row proizvodi ">
    @for (var i = 0; i < Model.Count(); i++)
    {
        <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    @Model[i].Naziv
                </div>
                <div class="panel-body">
                    <img src="@Model[i].Slika" class="img-responsive"/>
                    <p>Cena: @Model[i].Cena din</p>
                </div>
                <div class="panel-footer text-center">
                    <button class="btn btn-default btn-kupi" data-id="@Model[i].Id">Kupi</button>
                </div>
            </div>
        </div>
    }
</div>

@section Scripts
{
    <script>
        $(document).ready(function () {
            $('.btn-kupi').click(function () {
                let id = $(this).data('id');
                $.post('/Korpa/Dodaj/' + id)
                    .done(function () {
                        toastr.success('Proizvod je dodat');
                    })
                    .fail(function (error) {
                        console.log(error);
                        if (error.status === 401) {
                            window.location = '/Account/Login';
                        } else {
                            toastr.error('Greška');
                        }
                    });
            });

        });
    </script>
 }