.proizvodi {
    padding-top: 30px;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.korpa input {
    width:70px;
    display:inline-block;
}
.korpa.table > thead > tr > th,
.korpa.table > tbody > tr > th,
.korpa.table > tfoot > tr > th,
.korpa.table > thead > tr > td,
.korpa.table > tbody > tr > td,
.korpa.table > tfoot > tr > td {
    vertical-align: middle;
}

.korpa img {
    max-width: 100px;
    margin-right: 10px;
}
/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
